        .bar,
        .bar__blanca,
        .bar__naranja,
        .bar__contacto,
        .bar__blanca--enlaces,
        .bar__contacto-item,
        .bar__blanca-item {
            display: flex;
            align-items: center;
        }
        
        .bar {
            &>*:not(:last-child),
            &__contacto-item img {
                margin-right: 1rem;
            }
            //
            padding: .3rem;
            //bar NARANJA
            &__naranja {
                justify-content: center;
                background-color: $festival-orange;
                color: $white;
                @include hide($bp-large);
                p {
                    font-size: $text-size-14;
                }
            }
            // 
            &__contacto-item {
                font-size: $text-size-10;
                &:not(:last-child) {
                    margin-right: 2rem;
                }
            }
            &__link-pais {
                font-size: $text-size-16;
                padding: .5rem 1rem;
                background-color: $white;
                color: $festival-orange;
                @include b-radius-5;
            }
            //
            //barra blanca
            &__blanca {
                justify-content: space-evenly;
                align-items: center;
                padding: 1rem 0;
                @media only screen and (max-width: $bp-large) {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    padding: 1.5rem 2rem;
                    flex-wrap: wrap;
                }
                //
                //
                &-logo {
                    display: block;
                    //logo img
                    div {
                        display: none;
                    }
                    img {
                        display: block;
                        @media only screen and (max-width: $bp-large) {
                            display: none;
                        }
                    }
                    //Festival logo text
                    &-responsive {
                        display: none;
                        font-size: $text-size-20;
                        color: $grey-text-light;
                        //Media Query
                        @media only screen and (max-width: $bp-large) {
                            display: block;
                        }
                    }
                }
                //
                //
                &--enlaces {
                    color: $grey-text-light;
                    max-width: 59rem;
                    @media only screen and (max-width: $bp-large) {
                        display: none;
                    }
                }
                //
                &-item {
                    cursor: pointer;
                    font-size: $text-size-16;
                    //
                    img:not(:last-child) {
                        margin-right: 1rem;
                    }
                    //
                    &:not(:last-child) {
                        margin-right: max(1rem, 2rem);
                    }
                }
                //
                &-link {
                    color: $grey-text-light;
                    transition: all .3s ease-in;
                    @include borders (transparent);
                    border-bottom: 2px solid transparent;
                    //
                    &:hover:not(&--icon),
                    &:focus {
                        border-bottom: 2px solid $festival-orange;
                        outline: none;
                    }
                    //
                }
            }
            //
            &__responsive {
                &-wrapper {
                    width: 100%;
                    padding: 0 10%;
                    text-align: start;
                    margin-top: 2.4rem;
                }
                &-list {
                    font-size: $text-size-18;
                }
                &-item {
                    padding: 1.8rem 0;
                    border-top: 1px solid $grey-white-light-2;
                    &:nth-last-of-type(2) {
                        padding-bottom: 4rem;
                    }
                    &:last-child {
                        border-bottom: 1px solid $grey-white-light-2;
                    }
                    i {
                        font-size: $text-size-30;
                        margin-right: 1rem;
                    }
                    .star {
                        color: $festival-orange;
                    }
                }
            }
        }