.main-content, .main-content__tops {
    display: grid;
}
.main-content {
    grid-auto-flow: column;
    margin-top: 5rem;
    ;
    //@extend
    &__tops {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-template-rows: max-content repeat(2, minmax(min-content, max-content));
        grid-row-gap: 2rem;
        max-width: 90%;
        .top-title {
            color: $title-blue;
            font-size: 2.6rem;
            @extend .fw-700;
        }
        .top-text {
            font-size: 1.6rem;
            color: $grey-text-light-2;
            grid-column: 1/-1;
            grid-row: 2/3;
            @include justSelf(start);
            @include aligSelf(center);
            max-width: 65%;
        }
    }
    &__viaje-top {
        grid-row: 3/4;
    }
}