.main-content,
.main-content__tops,
.main-content__tops-wrapper {
    display: grid;
}

.main-content {
    margin-top: 5rem;
    width: 100%;
    //Container 
    &__tops {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
        grid-template-rows: min-content repeat(2, minmax(max-content, max-content));
        grid-auto-flow: row dense;
        justify-content: center;
        grid-gap: 1%;
        margin-bottom: 5rem;
        //media queries
        //media queries
        @media only screen and (max-width: $bp-large) {
            grid-template-columns: repeat(auto-fit, minmax(20rem, max-content));
            padding-left: 2rem;
        }
        @media only screen and (min-width: 1500px) {
            grid-template-columns: repeat(auto-fit, minmax(20rem, max-content));
        }
        //
        //
        .top-title {
            color: $title-blue;
            font-size: 2.6rem;
            @extend .fw-700;
            grid-column: 1/-1;
            grid-row: 1/2;
            @media only screen and (max-width: $bp-large) {
                grid-column: 1/3;
                grid-row: 1/3;
                @include aligSelf(center);
                max-width: 80%;
            }
        }
        //
        //
        .top-text {
            display: block;
            font-size: 1.6rem;
            color: $grey-text-light-2;
            grid-column: 1/-1;
            grid-row: 2/3;
            @include justSelf(start);
            @include aligSelf(center);
            max-width: 65%;
            margin-bottom: 2rem;
            @include hide($bp-large);
        }
    }
    &__tops-wrapper {
        grid-column: 1/-1;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
        grid-gap: 1%;
        @media only screen and (min-width: 1500px) {
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            justify-content: center;
        }
        @media only screen and (max-width: $bp-large) {
            grid-template-columns: repeat(4, 50%);
            grid-template-rows: max-content;
            overflow-x: auto;
            overflow-y: hidden;
            grid-gap: 0 2rem;
            justify-content: start;
            padding-bottom: .5rem;
        }
        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: repeat(4, 85%);
        }
    }
    //item
    &__viaje-top {
        grid-auto-flow: row;
        @include boxShadow;
        @include b-radius-1;
        overflow: hidden;
        @media only screen and (max-width: $bp-large) {
            grid-row: 3/4;
        }
        //
        &__body {
            padding: 1.5rem;
        }
        //
        &__item-img {
            width: 100%;
            max-height: initial;
        }
        //
        &__item-title {
            font-size: 1.9rem;
            @include textElipsis(2);
            margin-bottom: 2rem;
            max-height: 4rem;
            color: $grey-text-light-4;
        }
        //
        &__item-price,
        &__item-icons,
        &__item-icons-item {
            display: flex;
        }
        //
        &__item-price {
            justify-content: space-between;
            align-items: center;
            //
            .duracion {
                font-size: 2rem;
                font-weight: 100;
            }
            //
            .precio-tachado {
                text-decoration: line-through;
                text-decoration-color: red;
                font-size: 1.4rem;
                color: $grey-text-light-4;
            }
            .precio-actual {
                color: #f34a4f;
                font-size: 2.4rem;
            }
        }
        .tiempo-disponible {
            display: block;
            font-size: 1.1rem;
            color: $grey-text-light-3;
            margin-bottom: 3rem;
        }
        &__item-subtitle {
            font-size: 1.3rem;
            font-weight: 700;
            font-style: italic;
            color: $grey-text-light;
        }
        &__item-text-description {
            font-size: 1.2rem;
            text-align: justify;
            line-height: 1.4;
            @include textElipsis(4);
            margin-bottom: 3rem;
        }
        &__item-icons {
            justify-content: space-evenly;
            font-size: 1.3rem;
            color: inherit;
            &-item {
                align-items: center;
                img {
                    margin-right: 1rem;
                }
            }
        }
    }
}

.viaje-continente {
    &__icon {
        display: flex;
        flex-direction: column;
        background-color: $festival-orange;
        position: absolute;
        top: 2rem;
        right: 0;
        padding: 1rem .2rem;
        @include b-radius-05;
        &-item {
            display: block;
        }
    }
    &__img {
        display: block;
        position: relative;
        color: $white;
        height: 100%;
        width: 100%;
        //
        //
        &-title {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding-left: 1rem;
            font-size: 2.4rem;
            background: linear-gradient(0deg, #272626, #a0181800);
            @media only screen and (max-width: $bp-large) {
                font-size: 3rem;
            }
            @media only screen and (max-width: $bp-medium) {
                font-size: 2.4rem;
            }
            //
            span {
                font-weight: normal;
            }
        }
    }
    &__body-wrapper {
        padding: 2rem 1rem;
    }
    &__title {
        font-size: 1.9rem;
        color: $grey-text-light-4;
        font-weight: normal;
        margin-bottom: 1.5rem;
    }
    &__precio-wrapper {
        display: grid;
        grid-template-rows: 1fr;
        a {
            @include justSelf(end);
            @include aligSelf(center);
            grid-row: 1/2;
            width: 100%;
        }
    }
    &__precio {
        @include justSelf(start);
        @include aligSelf(center);
        grid-row: 1/2;
        //
        & * {
            display: block;
        }
        span:first-of-type,
        strong {
            color: $festival-orange;
        }
        span:first-of-type {
            font-size: 1.2rem;
        }
        strong {
            font-size: 2.6rem;
            padding-left: .5rem;
        }
    }
}