.footer,
.footer__lists {
    display: grid;
}

//
.footer {
    color: $white;
    background-color: $grey-footer;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: max-content minmax(min-content, max-content);
    //
    @media only screen and (max-width: $bp-large) {
        grid-template-columns: 100%;
        background-color: $white;
    }
    &-responsive {
        grid-column: 1/-1;
    }
    //
    &__title {
        grid-row: 1/2;
        grid-column: 2/3;
        @include aligSelf(center);
        border-bottom: 2px solid $white;
        padding-bottom: 3px;
        padding-top: 1.5rem;
        font-size: 1.6rem;
    }
    //
    &__lists {
        grid-column: 2/3;
        grid-row: 2/3;
        grid-template-columns: repeat(auto-fill, minmax(min-content, 10.3%));
        align-items: start;
        grid-row-gap: 3rem;
        grid-column-gap: .75rem;
    }
    //
    &__list {
        grid-column-gap: 2%;
        text-align: center;
    }
    //
    &__item {
        font-size: 1.2rem;
        text-align: justify;
        line-height: 1.5;
        transition: all .3s ease-in-out;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
            color: $footer-salmon;
            font-weight: 700;
        }
        &-title {
            font-size: 2rem;
            margin: 2rem 0;
        }
    }
    //
    &__redes {
        margin-top: 4rem;
        grid-column: 2/3;
        @include justSelf(center);
        text-align: center;
        @media only screen and (max-width: $bp-large) {
            grid-column: auto;
            color: $dark-blue-text;
        }
        //
        &--description {
            font-size: 1.3rem;
            margin-bottom: 2rem;
            letter-spacing: 1px;
        }
        //
        a {
            margin-bottom: 2rem;
            display: inline-block;
            transition: all .3s ease-out;
            //
            &:not(:last-child) {
                margin-right: 1rem;
            }
            //
            @include borders(transparent);
            &:hover {
                @include borders($footer-salmon);
                @include b-radius-1;
            }
            img {
                max-height: inherit;
                padding: 1rem;
            }
        }
        //
        p:last-child {
            font-size: 1.6rem;
            margin-bottom: 5rem;
        }
        //
        &--description-mobile {
            display: none;
        }
        //
        @media only screen and (max-width: $bp-large) {
            &--description-mobile {
                font-size: 2.4rem; //20px in mobile
                display: block;
            }
        }
    }
}

a.footer__redes--link-text {
    font-size: 3rem; //24px in mobile
    display: none;
    @extend .fw-700;
    @media only screen and (max-width: $bp-large) {
        display: inline-block!important;
        margin: 2rem 0 0 0;
    }
}

.footer-responsive {
    display: none;
    color: $grey-text-light;
    @media only screen and (max-width: $bp-large) {
        display: block;
        line-height: 2;
    }
    a,
    strong {
        display: block;
    }
    a:not(.footer-responsive__inner-links) {
        font-size: 1.8rem;
    }
    //clickable title
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $dark-blue-text;
        font-size: 2.1rem;
        padding: 2rem 0 2rem 2rem;
        cursor: pointer;
        border-bottom: 1px solid $grey-text-light-3;
        //arrow
        img {
            padding-right: 1rem;
        }
    }
    &__inner-content--block:not(:last-of-type) {
        margin-bottom: 2rem;
    }
    &__inner-title {
        font-size: 2rem;
        font-weight: normal;
        color: $dark-blue-text;
    }
    &__inner-links {
        font-size: 1.5rem;
    }
    &__adress {
        font-size: 1.5rem;
        color: #828282;
    }
    &__map-link {
        color: $btn-blue;
        font-size: 1.6rem;
        padding-top: 1rem;
    }
}

.centro-ayuda {
    font-size: 2rem;
}

.footer__title,
.footer__lists,
.footer__redes>a,
.footer__redes--description {
    @media only screen and (max-width: $bp-large) {
        display: none;
    }
}