.header {
    &__features, &__item {
        display: grid;
    }
    &__features {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 10rem;
    }
    &__item {
        grid-template-column: minmax(min-content, 10rem) 1fr;
        img {
            grid-row: 1/3;
            justify-self: end;
        }
        h4, p {
            @include justSelf(start);
        }
        h4 {
            grid-column: 2/3;
            grid-row: 1/2;
            align-self: end;
            font-size: 1.8rem;
            color: $festival-orange;
        }
        p {
            grid-column: 2/3;
            grid-row: 2/3;
            width: 85%;
            font-size: 1.3rem;
            color: $grey-text-light-2;
        }
        justify-items: center;
        &--1 {
            grid-column: 1/2;
        }
        &--2 {
            grid-column: 2/3;
        }
        &--3 {
            grid-column: 3/4;
        }
    }
}
.main-title {
    font-size: 4.2rem;
    color: $festival-orange;
    margin: 3rem 0;
}