.hero {
    background-image: url(../../assets/background-header.jpg);
    background-size: cover;
    background-position: center center;
    height: 50rem;
    width: 100%;
    position: relative;
    @media only screen and (max-width: $bp-large) {
        height: 40rem;
    }
    //
    &__main-title {
        width: 100%;
        font-size: 3rem;
        color: $white;
        position: absolute;
        text-shadow: 3px 1px 4px #544C59;
    }
    //
    &__searchbox--wrapper {
        position: absolute;
        width: 44%;
        bottom: -4rem;
        //media queries
        @media only screen and (max-width: $bp-large) {
            bottom: 25%;
            left: 50%;
            width: 80%
        }
    }
    &__searchbox, .btn__hero-search {
        display: flex;
    }
    &__searchbox {
        display: flex;
        width: 100%;
        background-color: $grey-white-light;
        padding: 2.75rem 2rem;
        @include b-radius-1;
        @media only screen and (max-width: $bp-large) {
            padding: 0;
            background-color: transparent;
        }
    }
    //
    &__filter {
        color: $white;
        font-size: .9rem;
        position: absolute;
        width: 25%;
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        transform: skew(-30deg);
        @include b-radius-05;
        background-color: $festival-orange;
        top: -3.8rem;
        z-index: -1;
        &>* {
            transform: skew(30deg);
        }
        &--1 {
            left: 3rem;
        }
        &--2 {
            left: 33%;
        }
        img {
            margin-right: 1rem;
        }
        @media only screen and (max-width: $bp-large) {
            display: none;
        }
    }
    //text field
    &__input {
        position: relative;
        width: 65%;
        height: 3.5rem;
        font-size: 1.5rem;
        padding-left: 1rem;
        color: $grey-text-light;
        @include b-radius-05;
        @include borders($festival-orange);
        &::placeholder {
            font-size: 1.2rem;
            padding-left: -1rem;
        }
        @media only screen and (max-width: $bp-large) {
            width: 100%;
        }
    }
    //orange search button
    .btn__hero-search {
        align-items: center;
        justify-content: center;
        margin-left: 4.2%;
        width: (30%);
        background-color: $festival-orange;
        @include b-radius-1;
        color: $white;
        font-size: 1.4rem;
        //icon mag.glass
        i {
            display: none;
        }
        //media Queries
        @media only screen and (max-width: $bp-large) {
            width: auto;
            padding: 0 1.5rem;
            margin: 0;
            i {
                display: block
            }
            img {
                display: none;
            }
        }
        //
        p {
            margin-right: 1rem;
            letter-spacing: 2px;
            @media only screen and (max-width: $bp-large) {
                display: none;
            }
        }
    }
    &__input, .btn__hero-search {
        @media only screen and (max-width: $bp-large) {
            border-radius: 0;
        }
    }
}