.navbar {
    display: grid;
    grid-template-columns: 22% 28% repeat(2, 14.75%) 20.5%;
    grid-template-rows: repeat(8, minmax(7rem, max-content));
    //media queries
    @media only screen and (max-width: $bp-large) {
        grid-template-columns: repeat(2, 30rem);
        grid-template-rows: min-content repeat(4, 30rem);
        justify-content: center;
        gap: 3rem;
        //
        img {
            height: 30rem;
            width: 30rem;
        }
        //
        .navbar__title-mobile {
            grid-row: 1/2;
            display: block;
        }
    }
    //media queries
    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: repeat(2, 20rem);
        grid-template-rows: min-content repeat(4, 20rem);
        img {
            height: 20rem;
            width: 20rem;
        }
    }
    @media only screen and (max-width: 320px) {
        grid-template-columns: repeat(2, 10rem);
        grid-template-rows: min-content repeat(4, 10rem);
        img {
            height: 15rem;
            width: 15rem;
        }
    }
    &__title-mobile {
        display: none;
        font-size: 3rem;
        color: $grey-text-light;
    }
    &__picture-link {
        position: relative;
        div {
            position: absolute;
            width: 0%;
            height: 0%;
            background-color: $festival-orange;
            opacity: 0;
            mix-blend-mode: hard-light;
            z-index: -100;
            top: 0;
            left: 0;
            transition: all .5s ease-out;
            border-radius: .5rem;
            width: 100%;
        }
        &:hover div, & a:hover & div {
            z-index: 100;
            opacity: .53;
            height: 100%;
        }
        &:hover p, & a:hover & p {
            z-index: 10000;
        }
        //
        img {
            height: 100%;
            width: 100%;
        }
        //
        p {
            position: absolute;
            color: $white;
            top: 50%;
            font-size: 2rem;
            box-shadow: 1px;
            @extend .center-text;
        }
        //
        //
        &--asia {
            grid-column: 1/2;
            grid-row: 1/span 6;
        }
        &--suramerica {
            grid-column: 1/2;
            grid-row: 7/ -1;
        }
        &--europa {
            grid-column: 2/3;
            grid-row: 1/-1;
        }
        &--centroamerica {
            grid-column: 3/4;
            grid-row: 1/span 5;
        }
        &--usa {
            grid-column: 4/5;
            grid-row: 1/span 5;
        }
        &--oceania {
            grid-column: 3/5;
            grid-row: 6/span 3;
        }
        &--hoteles {
            grid-column: 5/6;
            grid-row: 1/span 4;
        }
        &--africa {
            grid-column: 5/6;
            grid-row: 5/-1;
        }
        @media only screen and (max-width: $bp-large) {
            &--asia {
                grid-column: 1/2;
                grid-row: 2/3;
            }
            &--suramerica {
                grid-column: 2/3;
                grid-row: 4/5;
            }
            &--europa {
                grid-column: 2/3;
                grid-row: 2/3;
            }
            &--centroamerica {
                grid-column: 1/2;
                grid-row: 3/4;
            }
            &--usa {
                grid-column: 2/3;
                grid-row: 3/4;
            }
            &--oceania {
                grid-column: 1/2;
                grid-row: 5/6;
            }
            &--hoteles {
                grid-column: 1/2;
                grid-row: 4/5;
            }
            &--africa {
                grid-column: 2/3;
                grid-row: 5/6;
            }
        }
    }
}