.fw-700 {
    font-weight: 700;
}

.center-position {
    transform: translateX(-50%);
    left: 50%;
}

.center-positionY {
    transform: translateY(-50%);
    top: 50%;
}

.center-positionXY {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.btn {
    transition: all .3s ease-out;
    border: none;
    background-color: transparent;
    @include b-radius-05;
    font-size: 1.5rem;
    //hover
    &:hover {
        color: $white;
        cursor: pointer;
    }
    //title button Ver mas
    &__title-top {
        color: $grey-text-light;
        @include borders($grey-border);
        padding: .6rem 1.5rem;
        @include justSelf(end);
        @include aligSelf(center);
        grid-column: 1/-1;
        grid-row: 1/3;
        @media only screen and (max-width: $bp-large) {
            margin-right: 1.5rem;
        }
        &:hover {
            background-color: $festival-orange;
            @include borders($festival-orange);
        }
    }
    //
    &--orange {
        background-color: $festival-orange;
        @include centerMargin(0 auto);
        color: $white;
        padding: 1rem 3.5rem;
        margin-top: 2.5rem;
        &:hover {
            background-color: $btn-blue;
        }
    }
    &--orange-nofill {
        @include borders($festival-orange);
        padding: .6rem 2rem;
        color: $festival-orange;
        //
        &:hover {
            background-color: $btn-blue;
            @include borders($btn-blue);
        }
    }
}

.icon-20x20 {
    width: 2rem;
    height: 2rem;
}

.icon-25x25 {
    width: 2.5rem;
    height: 2.5rem;
}

.icon-30x30 {
    width: 3rem;
    height: 3rem;
}

.center-text {
    text-align: center;
    width: 100%;
}

::selection {
    background-color: $festival-orange;
    color: $white;
}

.burger-menu {
    display: none;
    position: relative;
    width: 3rem;
    height: 1rem;
    color: $grey-text-light;
    cursor: pointer;
    span {
        background-color: $grey-text-light;
        width: 3rem;
        height: 4px;
        //span, before & absolute
        &,
        &::before,
        &::after {
            position: absolute;
            width: 4rem;
            height: .5rem;
            background-color: $grey-text-light
        }
        &::before,
        &::after {
            content: "";
            left: 0;
        }
        &::before {
            top: -1rem;
        }
        &::after {
            top: 1rem;
        }
    }
    //mq
    @media only screen and (max-width: $bp-large) {
        display: block;
    }
}

.rotate-burger-menu {
    background-color: $white!important;
    &::before,
    &::after {
        content: "";
        left: 0;
        background-color: $grey-text-light!important;
    }
    &::before {
        top: -1rem;
        transform: rotate(135deg);
        transform-origin: 50% 180%;
    }
    &::after {
        top: 1rem;
        transform: rotate(-135deg);
        transform-origin: 50% -50%;
    }
}

//
//
.toggle {
    display: block;
}

.rotate {
    transform: rotate(180deg);
}