.fw-700 {
    font-weight: 700;
}
.center-position {
    transform: translateX(-50%);
    left: 50%;
}
.btn {
    border: none;
    background-color: transparent;
}
.icon-25x25 {
    width: 2.5rem;
    height: 2.5rem;
}
.center-text {
    text-align: center;
}