*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Arial' Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
}

a {
  color: inherit;
}

.fw-700, .main-content__tops .top-title {
  font-weight: 700;
}

.center-position {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.center-positionY {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.center-positionXY {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.btn {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  border: none;
  background-color: transparent;
  border-radius: .5rem;
  font-size: 1.5rem;
}

.btn:hover {
  color: #fff;
  cursor: pointer;
}

.btn__title-top {
  color: #545454;
  border: 1px solid #8b8b8b;
  padding: .6rem 1.5rem;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

@media only screen and (max-width: 62.5em) {
  .btn__title-top {
    margin-right: 1.5rem;
  }
}

.btn__title-top:hover {
  background-color: #E66616;
  border: 1px solid #E66616;
}

.btn--orange {
  background-color: #E66616;
  margin: 0 auto;
  display: block;
  color: #fff;
  padding: 1rem 3.5rem;
  margin-top: 2.5rem;
}

.btn--orange:hover {
  background-color: #2CA1D7;
}

.btn--orange-nofill {
  border: 1px solid #E66616;
  padding: .6rem 2rem;
  color: #E66616;
}

.btn--orange-nofill:hover {
  background-color: #2CA1D7;
  border: 1px solid #2CA1D7;
}

.icon-20x20 {
  width: 2rem;
  height: 2rem;
}

.icon-25x25 {
  width: 2.5rem;
  height: 2.5rem;
}

.icon-30x30 {
  width: 3rem;
  height: 3rem;
}

.center-text, .navbar__picture-link p {
  text-align: center;
  width: 100%;
}

::-moz-selection {
  background-color: #E66616;
  color: #fff;
}

::selection {
  background-color: #E66616;
  color: #fff;
}

.burger-menu {
  display: none;
  position: relative;
  width: 3rem;
  height: 1rem;
  color: #545454;
  cursor: pointer;
}

.burger-menu span {
  background-color: #545454;
  width: 3rem;
  height: 4px;
}

.burger-menu span, .burger-menu span::before, .burger-menu span::after {
  position: absolute;
  width: 4rem;
  height: .5rem;
  background-color: #545454;
}

.burger-menu span::before, .burger-menu span::after {
  content: "";
  left: 0;
}

.burger-menu span::before {
  top: -1rem;
}

.burger-menu span::after {
  top: 1rem;
}

@media only screen and (max-width: 62.5em) {
  .burger-menu {
    display: block;
  }
}

.rotate-burger-menu {
  background-color: #fff !important;
}

.rotate-burger-menu::before, .rotate-burger-menu::after {
  content: "";
  left: 0;
  background-color: #545454 !important;
}

.rotate-burger-menu::before {
  top: -1rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transform-origin: 50% 180%;
          transform-origin: 50% 180%;
}

.rotate-burger-menu::after {
  top: 1rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transform-origin: 50% -50%;
          transform-origin: 50% -50%;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.bar, .bar__blanca, .bar__naranja, .bar__contacto, .bar__blanca--enlaces, .bar__contacto-item, .bar__blanca-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar {
  padding: .3rem;
}

.bar > *:not(:last-child) {
  margin-right: 1rem;
}

.bar__naranja {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E66616;
  color: #fff;
}

@media only screen and (max-width: 62.5em) {
  .bar__naranja {
    display: none;
  }
}

.bar__naranja p {
  font-size: 1.4rem;
}

.bar__contacto-item {
  font-size: 1rem;
}

.bar__contacto-item img {
  margin-right: 1rem;
}

.bar__contacto-item:not(:last-child) {
  margin-right: 2rem;
}

.bar__link-pais {
  font-size: 1.6rem;
  padding: .5rem 1rem;
  background-color: #fff;
  color: #E66616;
  border-radius: 5rem;
}

.bar__blanca {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

@media only screen and (max-width: 62.5em) {
  .bar__blanca {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.5rem 2rem;
  }
}

.bar__blanca-logo {
  display: block;
}

.bar__blanca-logo div {
  display: none;
}

.bar__blanca-logo img {
  display: block;
}

@media only screen and (max-width: 62.5em) {
  .bar__blanca-logo img {
    display: none;
  }
}

.bar__blanca-logo-responsive {
  display: none;
  font-size: 2rem;
  color: #545454;
}

@media only screen and (max-width: 62.5em) {
  .bar__blanca-logo-responsive {
    display: block;
  }
}

.bar__blanca--enlaces {
  color: #545454;
  max-width: 59rem;
}

@media only screen and (max-width: 62.5em) {
  .bar__blanca--enlaces {
    display: none;
  }
}

.bar__blanca-item {
  cursor: pointer;
  font-size: 1.5rem;
}

.bar__blanca-item img:not(:last-child) {
  margin-right: 1rem;
}

.bar__blanca-item:not(:last-child) {
  margin-right: 2rem;
}

.bar__blanca-link {
  color: #545454;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  border: 1px solid transparent;
  border-bottom: 2px solid transparent;
}

.bar__blanca-link:hover:not(.bar__blanca-link--icon), .bar__blanca-link:focus {
  border-bottom: 3px solid #E66616;
  outline: none;
}

.hero {
  background-image: url(../../assets/background-header.jpg);
  background-size: cover;
  background-position: center center;
  height: 50rem;
  width: 100%;
  position: relative;
}

@media only screen and (max-width: 62.5em) {
  .hero {
    height: 40rem;
  }
}

.hero__main-title {
  width: 100%;
  font-size: 3rem;
  color: #fff;
  position: absolute;
  text-shadow: 3px 1px 4px #544C59;
}

.hero__searchbox--wrapper {
  position: absolute;
  width: 44%;
  bottom: -4rem;
}

@media only screen and (max-width: 62.5em) {
  .hero__searchbox--wrapper {
    bottom: 25%;
    left: 50%;
    width: 80%;
  }
}

.hero__searchbox, .hero .btn__hero-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__searchbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #ebebeb;
  padding: 2.75rem 2rem;
  border-radius: 1rem;
}

@media only screen and (max-width: 62.5em) {
  .hero__searchbox {
    padding: 0;
    background-color: transparent;
  }
}

.hero__filter {
  color: #fff;
  font-size: .9rem;
  position: absolute;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  border-radius: .5rem;
  background-color: #E66616;
  top: -3.8rem;
  z-index: -1;
}

.hero__filter > * {
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
}

.hero__filter--1 {
  left: 3rem;
}

.hero__filter--2 {
  left: 33%;
}

.hero__filter img {
  margin-right: 1rem;
}

@media only screen and (max-width: 62.5em) {
  .hero__filter {
    display: none;
  }
}

.hero__input {
  position: relative;
  width: 65%;
  height: 3.5rem;
  font-size: 1.5rem;
  padding-left: 1rem;
  color: #545454;
  border-radius: .5rem;
  border: 1px solid #E66616;
}

.hero__input::-webkit-input-placeholder {
  font-size: 1.2rem;
  padding-left: -1rem;
}

.hero__input:-ms-input-placeholder {
  font-size: 1.2rem;
  padding-left: -1rem;
}

.hero__input::-ms-input-placeholder {
  font-size: 1.2rem;
  padding-left: -1rem;
}

.hero__input::placeholder {
  font-size: 1.2rem;
  padding-left: -1rem;
}

@media only screen and (max-width: 62.5em) {
  .hero__input {
    width: 100%;
  }
}

.hero .btn__hero-search {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 4.2%;
  width: 30%;
  background-color: #E66616;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.4rem;
}

.hero .btn__hero-search i {
  display: none;
}

@media only screen and (max-width: 62.5em) {
  .hero .btn__hero-search {
    width: auto;
    padding: 0 1.5rem;
    margin: 0;
  }
  .hero .btn__hero-search i {
    display: block;
  }
  .hero .btn__hero-search img {
    display: none;
  }
}

.hero .btn__hero-search p {
  margin-right: 1rem;
  letter-spacing: 2px;
}

@media only screen and (max-width: 62.5em) {
  .hero .btn__hero-search p {
    display: none;
  }
}

@media only screen and (max-width: 62.5em) {
  .hero__input, .hero .btn__hero-search {
    border-radius: 0;
  }
}

.header__features, .header__item {
  display: -ms-grid;
  display: grid;
}

.header__features {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: 10rem;
}

@media only screen and (max-width: 62.5em) {
  .header__features {
    display: none;
  }
}

.header__item {
  -ms-grid-columns: minmax(min-content, 10rem) 1fr;
      grid-template-columns: minmax(-webkit-min-content, 10rem) 1fr;
      grid-template-columns: minmax(min-content, 10rem) 1fr;
  justify-items: center;
}

.header__item img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column-align: end;
      justify-self: end;
}

.header__item h4, .header__item p {
  -ms-grid-column-align: start;
      justify-self: start;
}

.header__item h4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 1.8rem;
  color: #E66616;
}

.header__item p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 85%;
  font-size: 1.3rem;
  color: #7e7b65;
}

.header__item--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.header__item--2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.header__item--3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.main-title {
  font-size: 4.2rem;
  color: #E66616;
  margin: 3rem 0;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 22% 28% (14.75%)[2] 20.5%;
      grid-template-columns: 22% 28% repeat(2, 14.75%) 20.5%;
  -ms-grid-rows: (minmax(7rem, max-content))[8];
      grid-template-rows: repeat(8, minmax(7rem, -webkit-max-content));
      grid-template-rows: repeat(8, minmax(7rem, max-content));
}

@media only screen and (max-width: 62.5em) {
  .navbar {
    -ms-grid-columns: (30rem)[2];
        grid-template-columns: repeat(2, 30rem);
    -ms-grid-rows: min-content (30rem)[4];
        grid-template-rows: -webkit-min-content repeat(4, 30rem);
        grid-template-rows: min-content repeat(4, 30rem);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3rem;
  }
  .navbar img {
    height: 30rem;
    width: 30rem;
  }
  .navbar .navbar__title-mobile {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    display: block;
  }
}

@media only screen and (max-width: 50em) {
  .navbar {
    -ms-grid-columns: (15rem)[2];
        grid-template-columns: repeat(2, 15rem);
    -ms-grid-rows: min-content (15rem)[4];
        grid-template-rows: -webkit-min-content repeat(4, 15rem);
        grid-template-rows: min-content repeat(4, 15rem);
  }
  .navbar img {
    height: 15rem;
    width: 15rem;
  }
}

@media only screen and (max-width: 320px) {
  .navbar {
    -ms-grid-columns: (10rem)[2];
        grid-template-columns: repeat(2, 10rem);
    -ms-grid-rows: min-content (10rem)[4];
        grid-template-rows: -webkit-min-content repeat(4, 10rem);
        grid-template-rows: min-content repeat(4, 10rem);
  }
  .navbar img {
    height: 15rem;
    width: 15rem;
  }
}

.navbar__title-mobile {
  display: none;
  font-size: 3rem;
  color: #545454;
}

.navbar__picture-link {
  position: relative;
}

.navbar__picture-link div {
  position: absolute;
  width: 0%;
  height: 0%;
  background-color: #E66616;
  opacity: 0;
  mix-blend-mode: hard-light;
  z-index: -100;
  top: 0;
  left: 0;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  border-radius: .5rem;
  width: 100%;
}

.navbar__picture-link:hover div, .navbar__picture-link a:hover .navbar__picture-link div {
  z-index: 100;
  opacity: .53;
  height: 100%;
}

.navbar__picture-link:hover p, .navbar__picture-link a:hover .navbar__picture-link p {
  z-index: 10000;
}

.navbar__picture-link img {
  height: 100%;
  width: 100%;
}

.navbar__picture-link p {
  position: absolute;
  color: #fff;
  top: 50%;
  font-size: 2rem;
  -webkit-box-shadow: 1px;
          box-shadow: 1px;
}

.navbar__picture-link--asia {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/span 6;
}

.navbar__picture-link--suramerica {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: 7/ -1;
}

.navbar__picture-link--europa {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  grid-row: 1/-1;
}

.navbar__picture-link--centroamerica {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/span 5;
}

.navbar__picture-link--usa {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/span 5;
}

.navbar__picture-link--oceania {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6/span 3;
}

.navbar__picture-link--hoteles {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/span 4;
}

.navbar__picture-link--africa {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  grid-row: 5/-1;
}

@media only screen and (max-width: 62.5em) {
  .navbar__picture-link--asia {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .navbar__picture-link--suramerica {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .navbar__picture-link--europa {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .navbar__picture-link--centroamerica {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .navbar__picture-link--usa {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .navbar__picture-link--oceania {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .navbar__picture-link--hoteles {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .navbar__picture-link--africa {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
}

.main-content, .main-content__tops, .main-content__tops-wrapper {
  display: -ms-grid;
  display: grid;
}

.main-content {
  margin-top: 5rem;
  width: 100%;
}

.main-content__tops {
  -ms-grid-columns: (minmax(20rem, 30rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
  -ms-grid-rows: min-content (minmax(max-content, max-content))[2];
      grid-template-rows: -webkit-min-content repeat(2, minmax(-webkit-max-content, -webkit-max-content));
      grid-template-rows: min-content repeat(2, minmax(max-content, max-content));
  grid-auto-flow: row dense;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 1%;
  margin-bottom: 5rem;
}

@media only screen and (min-width: 1700px) {
  .main-content__tops {
    -ms-grid-columns: (minmax(20rem, 43rem))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(20rem, 43rem));
  }
}

@media only screen and (max-width: 62.5em) {
  .main-content__tops {
    -ms-grid-columns: (minmax(20rem, max-content))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(20rem, -webkit-max-content));
        grid-template-columns: repeat(auto-fit, minmax(20rem, max-content));
    padding-left: 2rem;
  }
}

.main-content__tops .top-title {
  color: #4a7f95;
  font-size: 2.6rem;
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

@media only screen and (max-width: 62.5em) {
  .main-content__tops .top-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 50%;
  }
}

.main-content__tops .top-text {
  display: block;
  font-size: 1.6rem;
  color: #7e7b65;
  grid-column: 1/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 65%;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 62.5em) {
  .main-content__tops .top-text {
    display: none;
  }
}

.main-content__tops-wrapper {
  grid-column: 1/-1;
  -ms-grid-columns: (minmax(20rem, 30rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
  grid-gap: 1%;
}

@media only screen and (max-width: 62.5em) {
  .main-content__tops-wrapper {
    -ms-grid-columns: (85%)[4];
        grid-template-columns: repeat(4, 85%);
    -ms-grid-rows: max-content;
        grid-template-rows: -webkit-max-content;
        grid-template-rows: max-content;
    overflow-x: auto;
    overflow-y: hidden;
    grid-gap: 0 2rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.main-content__viaje-top {
  grid-auto-flow: row;
  -webkit-box-shadow: 2px 4px 10px -6px rgba(0, 0, 0, 0.59);
          box-shadow: 2px 4px 10px -6px rgba(0, 0, 0, 0.59);
  border-radius: 1rem;
  overflow: hidden;
}

@media only screen and (max-width: 62.5em) {
  .main-content__viaje-top {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

.main-content__viaje-top__body {
  padding: 1.5rem;
}

.main-content__viaje-top__item-img {
  width: 100%;
  max-height: initial;
}

.main-content__viaje-top__item-title {
  font-size: 1.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 2rem;
  max-height: 4rem;
  color: #5e5e5e;
}

.main-content__viaje-top__item-price, .main-content__viaje-top__item-icons, .main-content__viaje-top__item-icons-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content__viaje-top__item-price {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content__viaje-top__item-price .duracion {
  font-size: 2rem;
  font-weight: 100;
}

.main-content__viaje-top__item-price .precio-tachado {
  text-decoration: line-through;
  -webkit-text-decoration-color: red;
          text-decoration-color: red;
  font-size: 1.4rem;
  color: #5e5e5e;
}

.main-content__viaje-top__item-price .precio-actual {
  color: #f34a4f;
  font-size: 2.4rem;
}

.main-content__viaje-top .tiempo-disponible {
  display: block;
  font-size: 1.1rem;
  color: #afadad;
  margin-bottom: 3rem;
}

.main-content__viaje-top__item-subtitle {
  font-size: 1.3rem;
  font-weight: 700;
  font-style: italic;
  color: #545454;
}

.main-content__viaje-top__item-text-description {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 3rem;
}

.main-content__viaje-top__item-icons {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.3rem;
  color: inherit;
}

.main-content__viaje-top__item-icons-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content__viaje-top__item-icons-item img {
  margin-right: 1rem;
}

.viaje-continente__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #E66616;
  position: absolute;
  top: 2rem;
  right: 0;
  padding: 1rem .2rem;
  border-radius: .5rem;
}

.viaje-continente__icon-item {
  display: block;
}

.viaje-continente__img {
  display: block;
  position: relative;
  color: #fff;
  height: 100%;
  width: 100%;
}

.viaje-continente__img-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 1rem;
  font-size: 2.4rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#272626), to(#a0181800));
  background: linear-gradient(0deg, #272626, #a0181800);
}

.viaje-continente__img-title span {
  font-weight: normal;
}

.viaje-continente__body-wrapper {
  padding: 2rem 1rem;
}

.viaje-continente__title {
  font-size: 1.9rem;
  color: #5e5e5e;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.viaje-continente__precio-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.viaje-continente__precio-wrapper button {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.viaje-continente__precio {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.viaje-continente__precio * {
  display: block;
}

.viaje-continente__precio span:first-of-type, .viaje-continente__precio strong {
  color: #E66616;
}

.viaje-continente__precio span:first-of-type {
  font-size: 1.2rem;
}

.viaje-continente__precio strong {
  font-size: 2.6rem;
  padding-left: .5rem;
}

.footer, .footer__lists {
  display: -ms-grid;
  display: grid;
}

.footer {
  color: #fff;
  background-color: #7e7b65;
  -ms-grid-columns: 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr;
  -ms-grid-rows: max-content minmax(min-content, max-content);
      grid-template-rows: -webkit-max-content minmax(-webkit-min-content, -webkit-max-content);
      grid-template-rows: max-content minmax(min-content, max-content);
}

.footer__title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
  padding-top: 1.5rem;
  font-size: 1.6rem;
}

.footer__lists {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-columns: (minmax(min-content, 10rem))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(-webkit-min-content, 10rem));
      grid-template-columns: repeat(auto-fill, minmax(min-content, 10rem));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-row-gap: 3rem;
  grid-column-gap: .75rem;
}

.footer__list {
  grid-column-gap: 2%;
  text-align: center;
}

.footer__item {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.5;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.footer__item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #e4b170;
  font-weight: 700;
}

.footer__item-title {
  font-size: 2rem;
  margin: 2rem 0;
}

.footer__redes {
  margin-top: 4rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
}

.footer__redes--description {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.footer__redes a {
  margin-bottom: 2rem;
  display: inline-block;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  border: 1px solid transparent;
}

.footer__redes a:not(:last-child) {
  margin-right: 1rem;
}

.footer__redes a:hover {
  border: 1px solid #e4b170;
  border-radius: 1rem;
}

.footer__redes a img {
  max-height: inherit;
  padding: 1rem;
}

.footer__redes p:last-child {
  font-size: 1.6rem;
  margin-bottom: 5rem;
}
/*# sourceMappingURL=main.css.map */