.main {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 26rem [main-start]repeat(5, 1fr[main-end]);
    grid-template-rows: min-content 1fr min-content max-content;
    &__trips {
        grid-column: 2/-1;
        grid-row: 1/-1;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 30rem));
        grid-template-rows: repeat(auto-fit, 1fr);
        justify-content: center;
        align-items: start;
        padding: 0 3%;
        grid-row-gap: 2rem;
        grid-column-gap: 3%;
    }
    &__trip--body-wrapper {
        padding: 0 1rem;
    }
    &__trip {
        background-color: $white;
        color: $grey-text-light;
        padding-bottom: 3rem;
        @include b-radius-5;
        overflow: hidden;
        max-height: 65rem;
        &-img {
            width: 100%;
        }
        &-title {
            font-size: 2rem;
            margin: 1rem 0 3rem 0;
        }
        &-duracion {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            margin-bottom: 1.5rem;
            img {
                margin-right: 1rem;
            }
        }
        &-details {
            display: grid;
            grid-template-columns: 2.5rem 4fr 2fr;
            grid-template-rows: 1fr;
            img {
                @include justSelf(start);
                width: 3rem;
                height: 5.5rem;
                transform: translateX(-.4rem);
            }
            &>span {
                margin-top: .5rem;
                font-size: 1.4rem;
                text-align: center;
                line-height: 1.5;
            }
            &~span {
                color: $festival-orange;
                display: block;
                font-size: 1.2rem;
                margin-bottom: 3rem;
            }
        }
        &-price {
            color: $festival-orange;
            font-size: 1.2rem;
            line-height: .9;
            position: relative;
            &::after {
                position: absolute;
                content: '';
                height: 100%;
                left: -1rem;
                top: -.3rem;
                width: 2px;
                background-color: $grey-text-light-3;
            }
            span,
            strong {
                display: block;
            }
            strong {
                font-size: 3.2rem;
            }
        }
        &-places {
            display: block;
            font-size: 1.2rem;
            margin-bottom: 2rem;
            p {
                font-weight: normal;
            }
        }
        &-availability {
            font-size: 1.2rem;
            span {
                display: block;
                color: $festival-orange;
            }
        }
    }
}

.btn--cargar {
    grid-column: 1/-1;
    width: 40%;
    padding: 1rem 0;
    font-size: 2.6rem;
    @extend .fw-700;
}

.blog {
    display: grid;
    grid-template-columns: repeat(4, minmax(15rem, 30rem));
    justify-content: center;
    grid-column-gap: 2%;
    width: 100%;
    padding: 4rem 0 3rem 0;
    &__entry {
        position: relative;
        img {
            width: 100%;
        }
        em {
            position: absolute;
            left: 0;
            padding: 0 2rem 1rem 1rem;
            bottom: 0;
            color: $white;
            font-style: normal;
            background: linear-gradient(0deg, #272626, #a0181800);
            & * {
                display: block;
            }
        }
        span,
        p {
            font-size: 1.4rem;
        }
        strong {
            font-size: 2.4rem;
        }
        p {}
    }
}