*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Arial' Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
  }
  html *::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* Chrome/Safari/Webkit */
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

a {
  color: inherit;
}

body {
  background: url(../../assets/background-listados.png), #ededed;
  background-size: cover;
}

.fw-700 {
  font-weight: 700;
}

.center-position {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.center-positionY {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.center-positionXY {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.btn {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  border: none;
  background-color: transparent;
  border-radius: .5rem;
  font-size: 1.5rem;
  text-align: center;
}

.btn:hover {
  color: #fff;
  cursor: pointer;
}

.btn__title-top {
  color: #545454;
  border: 1px solid #8b8b8b;
  padding: .6rem 1.5rem;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

@media only screen and (max-width: 62.5em) {
  .btn__title-top {
    margin-right: 1.5rem;
  }
}

.btn__title-top:hover {
  background-color: #E66616;
  border: 1px solid #E66616;
}

.btn--orange {
  background-color: #E66616;
  margin: 0 auto;
  display: block;
  color: #fff;
  padding: 1rem;
  margin-top: 2.5rem;
  width: 50%;
}

.btn--orange:hover {
  background-color: #2CA1D7;
}

.btn--orange-nofill {
  border: 1px solid #E66616;
  padding: .6rem 0;
  color: #E66616;
  width: 50%;
}

.btn--orange-nofill:hover {
  background-color: #2CA1D7;
  border: 1px solid #2CA1D7;
}

.icon-20x20 {
  width: 2rem;
  height: 2rem;
}

.icon-25x25 {
  width: 2.5rem;
  height: 2.5rem;
}

.icon-30x30 {
  width: 3rem;
  height: 3rem;
}

.center-text {
  text-align: center;
  width: 100%;
}

::-moz-selection {
  background-color: #E66616;
  color: #fff;
}

::selection {
  background-color: #E66616;
  color: #fff;
}

i.menu-burger {
  font-size: 3rem;
  display: none;
}

@media only screen and (max-width: 62.5em) {
  i.menu-burger {
    display: block;
  }
}

.showable-content {
  text-align: center;
  display: none;
}

.show-content {
  display: block;
}

.border-top {
  border-top: 1px solid #afadad;
}

.border-bottom {
  border-bottom: 1px solid #afadad;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.bar,
.bar__blanca,
.bar__contacto,
.bar__blanca--enlaces,
.bar__contacto-item,
.bar__blanca-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar {
  padding: .3rem;
}

.bar > *:not(:last-child),
.bar__contacto-item img {
  margin-right: 1rem;
}

.bar__naranja {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E66616;
  color: #fff;
}

@media only screen and (max-width: 62.5em) {
  .bar__naranja {
    display: none;
  }
}

.bar__naranja p {
  font-size: 1.4rem;
}

.bar__contacto-item {
  font-size: 1rem;
}

.bar__contacto-item:not(:last-child) {
  margin-right: 2rem;
}

.bar__link-pais {
  font-size: 1.6rem;
  padding: .5rem 1rem;
  background-color: #fff;
  color: #E66616;
  border-radius: 5rem;
}

.bar__blanca {
  background-color: #fff;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

@media only screen and (max-width: 62.5em) {
  .bar__blanca {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 1.5rem 2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.bar__blanca-logo {
  display: block;
}

.bar__blanca-logo div {
  display: none;
}

.bar__blanca-logo img {
  display: block;
}

@media only screen and (max-width: 62.5em) {
  .bar__blanca-logo img {
    display: none;
  }
}

.bar__blanca-logo-responsive {
  display: none;
  font-size: 2rem;
  color: #545454;
}

@media only screen and (max-width: 62.5em) {
  .bar__blanca-logo-responsive {
    display: block;
  }
}

.bar__blanca--enlaces {
  color: #545454;
  max-width: 59rem;
}

@media only screen and (max-width: 62.5em) {
  .bar__blanca--enlaces {
    display: none;
  }
}

.bar__blanca-item {
  cursor: pointer;
  font-size: 1.6rem;
}

.bar__blanca-item img:not(:last-child) {
  margin-right: 1rem;
}

.bar__blanca-item:not(:last-child) {
  margin-right: 2rem;
}

.bar__blanca-link {
  color: #545454;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  border: 1px solid transparent;
  border-bottom: 2px solid transparent;
}

.bar__blanca-link:hover:not(.bar__blanca-link--icon), .bar__blanca-link:focus {
  border-bottom: 2px solid #E66616;
  outline: none;
}

.bar__responsive-wrapper {
  width: 100%;
  padding: 0 10%;
  text-align: start;
  margin-top: 2.4rem;
}

.bar__responsive-list {
  font-size: 1.8rem;
}

.bar__responsive-item {
  padding: 1.8rem 0;
  border-top: 1px solid #ccc;
}

.bar__responsive-item:nth-last-of-type(2) {
  padding-bottom: 4rem;
}

.bar__responsive-item:last-child {
  border-bottom: 1px solid #ccc;
}

.bar__responsive-item i {
  font-size: 3rem;
  margin-right: 1rem;
}

.bar__responsive-item .star {
  color: #E66616;
}

.header {
  display: -ms-grid;
  display: grid;
  background-color: #fff;
  padding-bottom: 3rem;
}

.header__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 30rem;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../../assets/banner.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}

.header__banner h1 {
  margin: 0 auto;
  color: #fff;
  font-size: 2rem;
  line-height: 1.5;
}

.header__banner h1 p {
  font-size: 1.6rem;
}

.header__features, .header__item {
  display: -ms-grid;
  display: grid;
}

.header__features {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: 3rem;
}

@media only screen and (max-width: 62.5em) {
  .header__features {
    display: none;
  }
}

.header__item {
  -ms-grid-columns: minmax(min-content, 10rem) 1fr;
      grid-template-columns: minmax(-webkit-min-content, 10rem) 1fr;
      grid-template-columns: minmax(min-content, 10rem) 1fr;
  justify-items: center;
}

.header__item img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column-align: end;
      justify-self: end;
}

.header__item h4,
.header__item p {
  -ms-grid-column-align: start;
      justify-self: start;
}

.header__item h4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 1.8rem;
  color: #E66616;
}

.header__item p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 85%;
  font-size: 1.3rem;
  color: #7e7b65;
}

.header__item--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.header__item--2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.header__item--3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.main__aside {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/ 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: #fff;
  color: #545454;
  padding-bottom: 2rem;
}

.main__aside-title {
  background-color: #E66616;
  padding: 2rem 0;
  text-align: center;
  color: #fff;
  font-size: 2rem;
}

.main__aside-date {
  margin-top: 5rem;
}

.main__aside-date strong {
  margin-bottom: 4rem;
}

.main__aside-subtitle {
  font-size: 1.5rem;
  display: block;
}

.main__aside label {
  font-size: 1.3rem;
  display: block;
  margin-bottom: .5rem;
}

.main__aside [id*="salida"] {
  width: 95%;
  padding: 1rem 0;
  border-radius: .5rem;
  border: 1px solid #afadad;
  font-size: 2rem;
  padding-left: 2rem;
}

.main__aside [id*="salida"]:not(:last-of-type) {
  margin-bottom: 4rem;
}

.main__aside [id*="salida"]:last-of-type {
  margin-bottom: 5rem;
}

.main__aside__duracion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (minmax(min-content, max-content))[3];
      grid-template-rows: repeat(3, minmax(-webkit-min-content, -webkit-max-content));
      grid-template-rows: repeat(3, minmax(min-content, max-content));
  grid-gap: 1rem;
  padding-bottom: 2rem;
}

.main__aside__duracion strong {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: start;
      justify-self: start;
}

.main__aside__duracion-btn {
  display: block;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border: 1px solid #afadad;
  height: 6rem;
  width: 6rem;
  border-radius: 0;
  cursor: pointer;
  -webkit-transition: all .4 ease-in;
  transition: all .4 ease-in;
}

.main__aside__duracion-btn-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.main__aside__duracion-btn-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.main__aside__duracion-btn-3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.main__aside__duracion-btn:hover {
  border-radius: 1rem;
  color: inherit;
}

.main__aside__rango {
  padding-bottom: 2rem;
}

.main__aside__rango strong {
  margin-bottom: 1rem;
}

.main__aside__rango .rango-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__aside__rango input[type=range] {
  width: 100%;
  -webkit-appearance: none;
  background: -webkit-gradient(linear, left top, right top, from(#E66616), color-stop(0%, #a0470f));
  background: linear-gradient(90deg, #E66616 0%, #a0470f 0%);
  height: .5rem;
  width: 100%;
  border-radius: 1rem;
  cursor: pointer;
}

.main__aside__rango input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 3rem;
  background: #E66616;
  cursor: pointer;
  margin-top: -.5rem;
}

.main__aside__rango input[type=range]::-moz-range-thumb {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 3rem;
  background: #E66616;
  cursor: pointer;
  margin-top: -.5rem;
  outline: none;
  border: none;
}

.main__aside__rango input[type=range]::-webkit-slider-runnable-track {
  height: .5rem;
  width: 100%;
  border-radius: 1rem;
  cursor: pointer;
}

.main__aside__rango input[type=range]:focus {
  outline: none;
}

.main__aside__conditions {
  font-size: 1.6rem;
}

.main__aside__conditions:not(:last-of-type) {
  padding-bottom: 2rem;
  border-bottom: 1px solid #afadad;
}

.main__aside__conditions-title {
  margin-bottom: 1.7rem;
}

.main__aside__conditions-title p {
  font-weight: normal;
}

.main__aside__conditions-item-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 15rem;
  border: 1px solid #afadad;
  scrollbar-color: #E66616 transparent;
  scrollbar-width: thin;
}

.main__aside__conditions-item-wrapper::-webkit-scrollbar {
  width: .8rem;
}

.main__aside__conditions-item-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.main__aside__conditions-item-wrapper::-webkit-scrollbar-thumb {
  background: #E66616;
}

.main__aside__conditions-item-wrapper::-webkit-scrollbar-thumb:hover {
  background: #a0470f;
}

.main__aside__conditions-item-wrapper .check-container {
  margin-top: .5rem;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 3rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main__aside__conditions-item-wrapper .check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.main__aside__conditions-item-wrapper .check-container input:checked ~ .checkmark {
  background-color: #E66616;
}

.main__aside__conditions-item-wrapper .check-container input:checked ~ .checkmark:after {
  display: block;
  left: .7rem;
  top: .3rem;
  width: .5rem;
  height: .9rem;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main__aside__conditions-item-wrapper .check-container .checkmark {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: .5rem;
  height: 1.8rem;
  width: 1.8rem;
  background-color: #f6c19f;
}

.main__aside__conditions-item-wrapper .check-container .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.main__aside-form > * {
  padding: 0 1.5rem;
}

.main__aside-form > *:not(:last-of-type) {
  padding-bottom: 2rem;
  border-bottom: 1px solid #afadad;
}

.main {
  display: -ms-grid;
  display: grid;
  margin-top: 2rem;
  -ms-grid-columns: 26rem [main-start] (1fr [main-end])[5];
      grid-template-columns: 26rem [main-start] repeat(5, 1fr [main-end]);
  -ms-grid-rows: min-content 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
}

.main__trips {
  grid-column: 2/-1;
  grid-row: 1/-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 30rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(-webkit-min-content, 30rem));
      grid-template-columns: repeat(auto-fit, minmax(min-content, 30rem));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3%;
  grid-gap: 2%;
}

.main__trip--body-wrapper {
  padding: 0 1rem;
}

.main__trip {
  background-color: #fff;
  color: #545454;
  padding-bottom: 3rem;
  border-radius: 5rem;
  overflow: hidden;
  max-height: 65rem;
}

.main__trip-img {
  width: 100%;
}

.main__trip-title {
  font-size: 2rem;
  margin: 1rem 0 3rem 0;
}

.main__trip-duracion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.main__trip-duracion img {
  margin-right: 1rem;
}

.main__trip-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5rem 4fr 2fr;
      grid-template-columns: 2.5rem 4fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.main__trip-details img {
  -ms-grid-column-align: start;
      justify-self: start;
  width: 3rem;
  height: 5.5rem;
  -webkit-transform: translateX(-0.4rem);
          transform: translateX(-0.4rem);
}

.main__trip-details > span {
  margin-top: .5rem;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.5;
}

.main__trip-details ~ span {
  color: #E66616;
  display: block;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.main__trip-price {
  color: #E66616;
  font-size: 1.2rem;
  line-height: .9;
  position: relative;
}

.main__trip-price::after {
  position: absolute;
  content: '';
  height: 100%;
  left: -1rem;
  top: -.3rem;
  width: 2px;
  background-color: #afadad;
}

.main__trip-price span,
.main__trip-price strong {
  display: block;
}

.main__trip-price strong {
  font-size: 3.2rem;
}

.main__trip-places {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.main__trip-places p {
  font-weight: normal;
}

.main__trip-availability {
  font-size: 1.2rem;
}

.main__trip-availability span {
  display: block;
  color: #E66616;
}
/*# sourceMappingURL=styles.css.map */